<!-- About Section -->
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="assets/img/krnivoro/imagenes/comercio-exterior.png" class="img-fluid" alt="About">
            </div>

            <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">

                <div class="carousel-item active">
                <img src="/assets/img/krnivoro/doingbussinesatkrnivoro/bussines-at-krnivoro-(1).jpg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/doing-business-at-KRNIVORO.html"><h3>Doing Bussiness at Krnivoro</h3></a>
                        <p>Dale valor a tus ideas.</p>
                    </div>
                </div>


                <div class="carousel-item">
                <img src="/assets/img/krnivoro/krnivorosos/Apoyo.jpg.webp" class="img-carousel" alt="Imagen 2">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_sos.html"><h3>Krnivoro SOS</h3></a>
                        <p>Al pendiente de ti</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/krnivorolegalprotection/derecho-mercantil.jpg.webp" class="img-carousel" alt="Imagen 3">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_legal_protection.html"><h3>Krnivoro Legal Protection</h3></a>
                        <p>Protección Jurídica</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/dentalbernal/dental-bernal-(1).jpg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO-dental-bernal.html"><h3>Krnivoro Dental Bernal y Maxilofacial Excellence</h3></a>
                        <p>Odontología Moderna</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/krnivorostore/cortesdecarneselectos.jpg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_store.html"><h3>Krnivoro Store Select Cuts</h3></a>
                        <p>Carnes Selectas</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/outdor/cabana-caceria-1.jpeg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_outdoor.html"><h3>Krnivoro Outdoor</h3></a>
                        <p>Experiencias Recreativas</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/hospedajerestaurante/vinicolas.jpg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_hospedaje.html"><h3>Hospedaje, Restaurante y Viñedos</h3></a>
                        <p>Experiencias Unicas</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/salud/krnivoro-bienestar-(1).jpeg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO-medicina-premium.html"><h3>Sección Médica Premium</h3></a>
                        <p>Soluciones Avanzadas para tu Salud</p>
                    </div>
                </div>

                <div class="carousel-item">
                <img src="/assets/img/krnivoro/transporte/suburban-negra-1.jpeg.webp" class="img-carousel" alt="Imagen 1">
                    <div class="carousel-caption-custom">
                        <a href="/KRNIVORO_transporte-ejecutivo.html"><h3>Transporte Ejecutivo</h3></a>
                        <p>Movilidad Premium</p>
                    </div>
                </div>

            </div>

            <!-- Flechas -->
            <!--button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </button>

            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon"></span>
            </button-->
            </div>

            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>Redefinimos nuestro nivel NetworkIng con lujo, sabor y propósito</h3>
                <p class="fst-italic">
                    EXPERIENCIAS GASTRONÓMICAS Y DE NEGOCIOS SIN FRONTERAS
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Networking de Alto Nivel.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Selección Gourmet Exclusiva.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Hospitalidad de Lujo y Seguridad Ejecutiva.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Actividades que Dejan Huella.</span></li>
                </ul>
                <p>
                   En Krnivoro, creamos experiencias exclusivas donde la alta gastronomía, el vino, el confort y la aventura se convierten en catalizadores para relaciones empresariales transformadoras. Somos el punto de encuentro para líderes, visionarios y emprendedores que buscan conexiones reales y oportunidades con impacto binacional.
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->