<!-- About Section -->
<section id="about" class="about section">

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">
            <div class="col-lg-6 order-1 order-lg-2">
                <img src="assets/img/krnivoro/imagenes/comercio-exterior.png" class="img-fluid" alt="About">
            </div>
            <div class="col-lg-6 order-2 order-lg-1 content">
                <h3>Redefinimos nuestro nivel NetworkIng con lujo, sabor y propósito</h3>
                <p class="fst-italic">
                    EXPERIENCIAS GASTRONÓMICAS Y DE NEGOCIOS SIN FRONTERAS
                </p>
                <ul>
                    <li><i class="bi bi-check2-all"></i> <span>Networking de Alto Nivel.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Selección Gourmet Exclusiva.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Hospitalidad de Lujo y Seguridad Ejecutiva.</span></li>
                    <li><i class="bi bi-check2-all"></i> <span>Actividades que Dejan Huella.</span></li>
                </ul>
                <p>
                   En Krnivoro, creamos experiencias exclusivas donde la alta gastronomía, el vino, el confort y la aventura se convierten en catalizadores para relaciones empresariales transformadoras. Somos el punto de encuentro para líderes, visionarios y emprendedores que buscan conexiones reales y oportunidades con impacto binacional.
                </p>
            </div>
        </div>

    </div>

</section><!-- /About Section -->