<section id="call-to-action" class="call-to-action section dark-background">

    <img src="/assets/img/krnivoro/background/fondower-1.webp" alt="Diseñamos experiencias a tu medida, con discreción, seguridad y excelencia.">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>¿Necesitas un Servicio Krnivoro?</h3>
                    <p>Ya sea transporte ejecutivo, alojamiento VIP o una experiencia gastronómica inolvidable, estamos listos para personalizar cada detalle<br><br>
                    Contáctanos y déjanos crear algo único para ti.</p>
                    <a class="cta-btn" href="https://wa.me/message/5IQRNG5VKJ3IA1">CONTÁCTANOS</a>
                </div>
            </div>
        </div>
    </div>

</section>


