
<section id="portfolio" class="portfolio section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Nuestra Selección de Carnes</h2>
        <p><a href="https://krnivoro.myshopify.com/"> Descubre nuestra variedad de productos premium</a></p>
    </div>

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Todas</li>
                <li data-filter=".filter-carnes">Carnes</li>
                <li data-filter=".filter-quesos">Quesos</li>
            </ul>

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/carnes-krnivoro.webp" class="img-fluid" alt="Tomahawk Premium">
                    <div class="portfolio-info">
                        <h4>Carnes</h4>
                       <a class="cta-btn" href="https://krnivoro.myshopify.com/collections/carnes-1">COMPRAR AHORA</a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-quesos">
                    <img src="assets/img/krnivoro/quesos/quesos.jpg.webp" class="img-fluid" alt="Tomahawk Premium">
                    <div class="portfolio-info">
                        <h4>Quesos</h4>
                       <a class="cta-btn" href="https://krnivoro.myshopify.com/collections/quesos">COMPRAR AHORA</a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>