
<section id="portfolio" class="portfolio section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Nuestra Selección de Productos</h2>
        <p><a href="https://krnivoro.myshopify.com/"> Descubre nuestra variedad de productos premium</a></p>
    </div>

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Todas</li>
                <li data-filter=".filter-carnes">Carnes</li>
                <li data-filter=".filter-quesos">Quesos</li>
                <li data-filter=".filter-vinos">Vinos y Licores</li>
            </ul>

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <a class="cta-btn" href="https://krnivoro.myshopify.com/collections/carnes-1">
                    <img src="assets/img/krnivoro/productos/angus-catego.webp" class="img-fluid" alt="Carmes Premium"><h3 style="text-align: center; color: #A87B05;">CARNES PREMIUM</h3></a>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-quesos">
                    <a class="cta-btn" href="https://krnivoro.myshopify.com/collections/quesos">
                    <img src="assets/img/krnivoro/quesos/queso-krnivoro.png.webp" class="img-fluid" alt="Quesos Premium"><h3 style="text-align: center; color: #A87B05;" >QUESOS PREMIUM</h3></a>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-vinos">
                    <a class="cta-btn" href="https://krnivoro.myshopify.com/collections/vinos-y-licores">
                    <img src="assets/img/krnivoro/mezcal.png" class="img-fluid" alt="Vinos y Licores Premium"><h3 style="text-align: center; color: #A87B05;">VINOS Y LICORES</h3></a>
                </div>
            </div>

        </div>

    </div>

</section>