
<section id="portfolio" class="portfolio section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Nuestra Selección de Carnes</h2>
        <p>Descubre nuestra variedad de carnes premium</p>
    </div>

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Todas</li>
                <li data-filter=".filter-carnes">Carnes</li>
            </ul>

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">

                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Arracehera.webp" class="img-fluid" alt="Arrachera premium">
                    <div class="portfolio-info">
                        <h4>Arrachera Premium</h4>
                        <a href="assets/img/krnivoro/productos/Arracehetra.webp" title="Arrachera Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/CATEGORIA-RES.webp" class="img-fluid"
                        alt="Res categoría premium">
                    <div class="portfolio-info">
                        <h4>Res Categoría Premium</h4>
                        <a href="assets/img/krnivoro/productos/CATEGORIA-RES.webp" title="Res Categoría Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Centro-de-Sirloin-Angus.webp" class="img-fluid"
                        alt="Centro de Sirloin Angus">
                    <div class="portfolio-info">
                        <h4>Centro de Sirloin Angus</h4>
                        <a href="assets/img/krnivoro/productos/Centro-de-Sirloin-Angus.webp"
                            title="Centro de Sirloin Angus" data-gallery="portfolio-gallery-carnes"
                            class="glightbox preview-link"><i class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Costilla-Black.webp" class="img-fluid" alt="Costilla Black">
                    <div class="portfolio-info">
                        <h4>Costilla Black</h4>
                        <a href="assets/img/krnivoro/productos/Costilla-Black.webp" title="Costilla Black"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Cowboy-Angus.webp" class="img-fluid" alt="Cowboy Angus">
                    <div class="portfolio-info">
                        <h4>Cowboy Angus</h4>
                        <a href="assets/img/krnivoro/productos/Cowboy-Angus.webp" title="Cowboy Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Diezsmillo.webp" class="img-fluid" alt="Diezmillo Premium">
                    <div class="portfolio-info">
                        <h4>Diezmillo Premium</h4>
                        <a href="assets/img/krnivoro/productos/Diezsmillo.webp" title="Diezmillo Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/New-york-Anejo.webp" class="img-fluid"
                        alt="New York Añejado">
                    <div class="portfolio-info">
                        <h4>New York Añejado</h4>
                        <a href="assets/img/krnivoro/productos/New-york-Anejo.webp" title="New York Añejado"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/New-York-Angus.webp" class="img-fluid" alt="New York Angus">
                    <div class="portfolio-info">
                        <h4>New York Angus</h4>
                        <a href="assets/img/krnivoro/productos/New-York-Angus.webp" title="New York Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/New-York.webp" class="img-fluid" alt="New York Premium">
                    <div class="portfolio-info">
                        <h4>New York Premium</h4>
                        <a href="assets/img/krnivoro/productos/New-York.webp" title="New York Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Porter-House.webp" class="img-fluid" alt="Porter House">
                    <div class="portfolio-info">
                        <h4>Porter House</h4>
                        <a href="assets/img/krnivoro/productos/Porter-House.webp" title="Porter House"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Portes-House-Angus.webp" class="img-fluid"
                        alt="Porter House Angus">
                    <div class="portfolio-info">
                        <h4>Porter House Angus</h4>
                        <a href="assets/img/krnivoro/productos/Portes-House-Angus.webp" title="Porter House Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Produc01.webp" class="img-fluid" alt="Producto 1">
                    <div class="portfolio-info">
                        <h4>Producto 1</h4>
                        <a href="assets/img/krnivoro/productos/Produc01.webp" title="Producto 1"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Produc02.webp" class="img-fluid" alt="Producto 2">
                    <div class="portfolio-info">
                        <h4>Producto 2</h4>
                        <a href="assets/img/krnivoro/productos/Produc02.webp" title="Producto 2"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Rib-Ete-Steak-Prome.webp" class="img-fluid"
                        alt="Rib Eye Steak Premium">
                    <div class="portfolio-info">
                        <h4>Rib Eye Steak Premium</h4>
                        <a href="assets/img/krnivoro/productos/Rib-Ete-Steak-Prome.webp" title="Rib Eye Steak Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Rib-Eye.webp" class="img-fluid" alt="Rib Eye Premium">
                    <div class="portfolio-info">
                        <h4>Rib Eye Premium</h4>
                        <a href="assets/img/krnivoro/productos/Rib-Eye.webp" title="Rib Eye Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/T-Bone-.webp" class="img-fluid" alt="T-Bone Premium">
                    <div class="portfolio-info">
                        <h4>T-Bone Premium</h4>
                        <a href="assets/img/krnivoro/productos/T-Bone-.webp" title="T-Bone Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/T-bone-angus.webp" class="img-fluid" alt="T-Bone Angus">
                    <div class="portfolio-info">
                        <h4>T-Bone Angus</h4>
                        <a href="assets/img/krnivoro/productos/T-bone-angus.webp" title="T-Bone Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Tablita-Angus.webp" class="img-fluid" alt="Tablita Angus">
                    <div class="portfolio-info">
                        <h4>Tablita Angus</h4>
                        <a href="assets/img/krnivoro/productos/Tablita-Angus.webp" title="Tablita Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/tablita.webp" class="img-fluid" alt="Tablita Premium">
                    <div class="portfolio-info">
                        <h4>Tablita Premium</h4>
                        <a href="assets/img/krnivoro/productos/tablita.webp" title="Tablita Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/tomahack-anejo.webp" class="img-fluid"
                        alt="Tomahawk Añejado">
                    <div class="portfolio-info">
                        <h4>Tomahawk Añejado</h4>
                        <a href="assets/img/krnivoro/productos/tomahack-anejo.webp" title="Tomahawk Añejado"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Tomahack-Angus.webp" class="img-fluid" alt="Tomahawk Angus">
                    <div class="portfolio-info">
                        <h4>Tomahawk Angus</h4>
                        <a href="assets/img/krnivoro/productos/Tomahack-Angus.webp" title="Tomahawk Angus"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 portfolio-item isotope-item filter-carnes">
                    <img src="assets/img/krnivoro/productos/Tomahack.webp" class="img-fluid" alt="Tomahawk Premium">
                    <div class="portfolio-info">
                        <h4>Tomahawk Premium</h4>
                        <a href="assets/img/krnivoro/productos/Tomahack.webp" title="Tomahawk Premium"
                            data-gallery="portfolio-gallery-carnes" class="glightbox preview-link"><i
                                class="bi bi-zoom-in"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>

</section>