<body>
<!--Botones-->
<div class="text-center my-5">
  <button class="btn me-2 filter-btn" data-filter="*">Todos</button>
  <button class="btn btn-outline-black me-2 filter-btn" data-filter="carnes">Carnes</button>
  <button class="btn btn-outline-black filter-btn" data-filter="quesos">Quesos</button>
  <button class="btn btn-outline-black filter-btn" data-filter="vinosylicores">Vinos y licores</button>
  <button class="btn btn-outline-black filter-btn" data-filter="bebidas">Bebidas</button>
  <button class="btn btn-outline-black filter-btn" data-filter="miel">Miel Artesanal</button>
  <button class="btn btn-outline-black filter-btn" data-filter="condimentos">Condimentos</button>
  <button class="btn btn-outline-black filter-btn" data-filter="frutos">Frutos</button>
</div>


<section class="catalogo py-5">
  <div class="container">

    <div class="row g-4" id="catalogo-grid">

      <!-- CARNE -->
      <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/picaña-res.webp" class="catalogo-img">
          <h5 class="mt-2">Picaña</h5>
          <p>$510.00</p>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Flatmeat.webp" class="catalogo-img">
          <h5 class="mt-2">Flat Meat</h5>
          <p>$540.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/tenderloin.webp" class="catalogo-img">
          <h5 class="mt-2">Tenderloin</h5>
          <p>$744.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/diezmilloconhueso.webp" class="catalogo-img">
          <h5 class="mt-2">Diezmillo con Hueso</h5>
          <p>$450.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/brisket.webp" class="catalogo-img">
          <h5 class="mt-2">Brisket</h5>
          <p>$348.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/T-bone-angus.webp" class="catalogo-img">
          <h5 class="mt-2">T-Bone Angus</h5>
          <p>$14,980.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/T-Bone.webp" class="catalogo-img">
          <h5 class="mt-2">T-Bone</h5>
          <p>$702.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Rib-Eye.webp" class="catalogo-img">
          <h5 class="mt-2">Rib Eye</h5>
          <p>$696.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Rib-Eye-castilla.webp" class="catalogo-img">
          <h5 class="mt-2">Rib Eye Castilla</h5>
          <p>$714.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Porter-House.webp" class="catalogo-img">
          <h5 class="mt-2">Porter House</h5>
          <p>$702.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/newyork.webp" class="catalogo-img">
          <h5 class="mt-2">New York</h5>
          <p>$672.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/newyorkcastilla.webp" class="catalogo-img">
          <h5 class="mt-2">New York Castilla</h5>
          <p>$696.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Diezsmillo.webp" class="catalogo-img">
          <h5 class="mt-2">Diezmillo</h5>
          <p>$450.00</p>
        </div>
      </div>

    <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/Cowboy-steak.webp" class="catalogo-img">
          <h5 class="mt-2">Cowboy Steak</h5>
          <p>$606.00</p>
        </div>
      </div>

      <!-- QUESO -->
      <div class="col-6 col-md-4 col-lg-3 producto carnes">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/arrachera-exterior.webp" class="catalogo-img">
          <h5 class="mt-2">Arrachera Exterior</h5>
          <p>$540.00</p>
        </div>
      </div>

      <div class="col-6 col-md-4 col-lg-3 producto quesos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/queso-oaxaca.webp" class="catalogo-img">
          <h5 class="mt-2">Queso Oaxaca</h5>
          <p>$480.00</p>
        </div>
      </div>

     <div class="col-6 col-md-4 col-lg-3 producto quesos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/queso-fresco.webp" class="catalogo-img">
          <h5 class="mt-2">Queso Fresco</h5>
          <p>$390.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto quesos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/queso-panela.webp" class="catalogo-img">
          <h5 class="mt-2">Queso Panela</h5>
          <p>$390.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto vinosylicores">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/vino-resilencia.webp" class="catalogo-img">
          <h5 class="mt-2">Resilencia - Cabernet/Malbec</h5>
          <p>$890.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto vinosylicores">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/vino-kapricho.webp" class="catalogo-img">
          <h5 class="mt-2">Kapricho - Nebbiolo</h5>
          <p>$590.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto vinosylicores">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/vino-ego.webp" class="catalogo-img">
          <h5 class="mt-2">Ego Blanc de Noir</h5>
          <p>$690.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto vinosylicores">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/mezcal.webp" class="catalogo-img">
          <h5 class="mt-2">Mezcal Artesanal</h5>
          <p>$1,200.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto bebidas">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/agua-de-mar.webp" class="catalogo-img">
          <h5 class="mt-2">Agua de Mar</h5>
          <p>$290.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto miel">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/miel-artesanal.webp" class="catalogo-img">
          <h5 class="mt-2">Miel Artesanal</h5>
          <p>$340.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto condimentos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/aceite-oliva-romero.webp" class="catalogo-img">
          <h5 class="mt-2">Aceite de Oliva con Romero</h5>
          <p>$390.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto condimentos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/sal-gourmet-azul.webp" class="catalogo-img">
          <h5 class="mt-2">Sal Gourmet azul del Valle</h5>
          <p>$440.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto frutos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/aceitunas-verde-premium-grandes.webp" class="catalogo-img">
          <h5 class="mt-2">Aceituna Verde Premium - Tarro Grande</h5>
          <p>$380.00</p>
        </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3 producto frutos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/datil-medjool.webp" class="catalogo-img">
          <h5 class="mt-2">Dátil Medjool 1kg</h5>
          <p>$990.00</p>
        </div>
      </div>
    <div class="col-6 col-md-4 col-lg-3 producto frutos">
        <div class="catalogo-item">
          <img src="assets/img/imagenes-catalogo/aceituna-verde-premium.webp" class="catalogo-img">
          <h5 class="mt-2">Aceituna Verde Premium</h5>
          <p>$480.00</p>
        </div>
    </div>
  </div>
</div>
</section>

<!--JS-->
<script>
  const botones = document.querySelectorAll('.filter-btn');
  const productos = document.querySelectorAll('.producto');

  botones.forEach(boton => {
    boton.addEventListener('click', () => {
      const filtro = boton.dataset.filter;

      // botón activo
      botones.forEach(b => {
        b.classList.remove('btn-dark');
        b.classList.add('btn-outline-dark');
      });
      boton.classList.remove('btn-outline-dark');
      boton.classList.add('btn-dark');

      // filtrar productos
      productos.forEach(producto => {
        producto.style.display =
          filtro === '*' || producto.classList.contains(filtro)
          ? 'block'
          : 'none';
      });
    });
  });
</script>

</body>



