<!-- Service Details Section -->
<section id="service-details" class="service-details section">

    <div class="container">

        <div class="row gy-5">

            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

                <div class="service-box">
                    <h4>Lista de Servicios</h4>
                    <div class="services-list">
                        <a href="detalles-servicio.html" class="active"><i class="bi bi-cash-coin"></i><span>Consultoría financiera y empresarial</span></a>
                        <a href="detalles-servicio.html"><i class="bi bi-search"></i><span>Auditoría</span></a>
                        <a href="detalles-servicio.html"><i class="bi bi-bar-chart-line"></i><span>Diagnóstico, evaluación e implementación</span></a>
                        <a href="detalles-servicio.html"><i class="bi bi-journal-check"></i><span>Contabilidad</span></a>
                        <a href="detalles-servicio.html"><i class="bi bi-file-earmark-check"></i><span>Consultoría contable y normatividad</span></a>
                        <a href="detalles-servicio.html"><i class="bi bi-shield-check"></i><span>Auditoría interna</span></a>
                    </div>
                </div><!-- End Services List -->

                <div class="service-box">
                        <h4>Descarga el Catálogo Krnivoro</h4>
                        <div class="download-catalog">
                            <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catálogo Krnivoro PDF</span></a>
                            <a href="#"><i class="bi bi-file-earmark-word"></i><span>Catálogo Krnivoro DOC</span></a>
                        </div>
                </div><!-- End Services List -->

                <div class="help-box d-flex flex-column justify-content-center align-items-center">
                    <i class="bi bi-headset help-icon"></i>
                    <h4>¿Tienes alguna pregunta?</h4>
                    <p class="d-flex align-items-center mt-2 mb-0"><i class="bi bi-telephone me-2"></i> <a href="{{site.phone}}"><span>{{site.phone}}</span></a></p>
                    <p class="d-flex align-items-center mt-1 mb-0"><i class="bi bi-envelope me-2"></i> <a href="mailto:{{site.email}}">{{site.email}}</a></p>
                </div>

            </div>

            <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
                <img src="assets/img/krnivoro/experiencias/014410.webp" alt="Consultoría financiera y empresarial" class="img-fluid services-img">
                <h3>Consultoría financiera y empresarial</h3>
                <p>
                    Nuestro servicio de Consultoría financiera y empresarial está diseñado para impulsar el crecimiento y la rentabilidad de tu negocio. Ofrecemos asesoría experta en:
                </p>
                <ul>
                    <li><i class="bi bi-check-circle"></i> <span>Planeación estratégica y financiera personalizada.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Optimización de recursos y gestión eficiente del capital.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Evaluación de riesgos y oportunidades de inversión.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Implementación de mejores prácticas empresariales.</span></li>
                    <li><i class="bi bi-check-circle"></i> <span>Diagnóstico y mejora de procesos internos.</span></li>
                </ul>
                <p>
                    Nuestro equipo de especialistas te acompaña en la toma de decisiones clave, brindando soluciones integrales y adaptadas a las necesidades de tu empresa. Confía en Krnivoro para llevar tu negocio al siguiente nivel.
                </p>
            </div>

        </div>

    </div>

</section>