<section id="hero" class="hero section dark-background" style="position:relative;overflow:hidden;">

  <div id="particles-js" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;pointer-events:none;">
  </div>

  <img src="assets/img/krnivoro/background/fondower-1.webp" alt="" data-aos="fade-in">

  <div class="container">

    <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
      <div class="col-xl-6 col-lg-8">
        <h2>BIENVENIDOS A <span>KRNIVORO.COM</span></h2>
        <p>Donde las Mentes Brillantes se Encuentran</p>
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
        <div class="icon-box">
          <i class="bi bi-people"></i>
          <h3><a href="">Doing Business at KRNIVORO</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
        <div class="icon-box">
          <i class="bi bi-cup-straw"></i>
          <h3><a href="">KRNIVORO SOS</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
        <div class="icon-box">
          <i class="bi bi-shield-check"></i>
          <h3><a href="">KRNIVORO Legal Protection</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
        <div class="icon-box">
          <i class="bi bi-stars"></i>
          <h3><a href="">KARNIVORE Store - Select Cuts & Premium Nutrition</a></h3>
        </div>
      </div>
      <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
        <div class="icon-box">
          <i class="bi bi-globe2"></i>
          <h3><a href="">Descubre el Mundo Krnivoro</a></h3>
        </div>
      </div>
    </div>

  </div>

</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/particles.js/2.0.0/particles.min.js"></script>
<script>
  particlesJS.load('particles-js', 'assets/particles.json', function () {
    console.log('callback - particles.js config loaded');
  });
</script>



<section id="call-to-action" class="call-to-action section dark-background">

    <img src="/assets/img/krnivoro/img_00.webp" alt="">

    <div class="container">
        <div class="row justify-content-center" data-aos="zoom-in" data-aos-delay="100">
            <div class="col-xl-10">
                <div class="text-center">
                    <h3>Empieza tu corporación con KRNIVORO</h3>
                    <p>Diseñamos experiencias a tu medida, con discreción, seguridad y excelencia.<br><br>
                    Ya sea transporte ejecutivo, alojamiento VIP o una experiencia gastronómica inolvidable, estamos listos para personalizar cada detalle. Contáctanos y déjanos crear algo único para ti.</p>
                    <a class="cta-btn" href="#">CONTÁCTANOS</a>
                </div>
                <div>
                   <form action="forms/contact.php" method="post" class="php-email-form" data-aos="fade-up" data-aos-delay="200">
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control" placeholder="Nombre" required="">
                        </div>

                        <div class="col-md-6 ">
                            <input type="email" class="form-control" name="email" placeholder="Correo" required="">
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control" name="phone" placeholder="Teléfono" required="">
                        </div>

                        <div class="col-md-12">
                            <select class="form-control" name="service" required="">
                                <option value="" disabled selected>Servicio requerido</option>
                                <option value="Branding">Branding</option>
                                <option value="Permisos">Permisos</option>
                                <option value="Supply Chain">Supply Chain</option>
                                <option value="Construcción">Construcción</option>
                                <option value="Estrategia Financiera">Estrategia Financiera</option>
                                <option value="Seguridad">Seguridad</option>
                                <option value="Aseguranzas">Aseguranzas</option>
                            </select>
                        </div>

                        <div class="col-md-12 text-center">
                            <div class="loading">Cargando</div>
                            <div class="error-message"></div>
                            <div class="sent-message">¡Tu mensaje ha sido enviado. Gracias!</div>

                            <button type="submit" class="btn btn-primary btn-lg w-100" style="margin-top: 1rem;">Empieza tu corporación con KRNIVORO</button>
                        </div>

                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>

</section>