<footer id="footer" class="footer dark-background">
    <div class="footer-top">
        <div class="container">
            <div class="row gy-4">
                <div class="col-lg-4 col-md-6 footer-about">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="/assets/img/krnivoro.png" alt="Krnivoro Logo"> 
                    </a>
                    <div class="footer-contact pt-3">
                        <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
                        <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
                        <p><a href="https://maps.app.goo.gl/rYkPGA6gTngpSu9i8">{{site.address}}</a></p>
                    </div>
                    <div class="social-links d-flex mt-4">
                        <a href="https://facebook.com"><i class="bi bi-facebook"></i></a>
                        <a href="https://instagram.com"><i class="bi bi-instagram"></i></a>
                        <a href="https://wa.me/5216643400882?text=Hola"><i class="bi bi-whatsapp"></i></a>
                    </div>
                </div>

            
                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Nuestros Servicios</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="/doing-business-at-KRNIVORO.html">Doing Business at KRNIVORO</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_sos.html">KRNIVORO SOS</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_legal_protection.html">KRNIVORO Legal Protection</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO-dental-bernal.html">KRNIVORO Dental Bernal & Maxilofacial Excellence</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_store.html">KRNIVORO Store – Select Cuts & Premium Nutrition</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_outdoor.html">KRNIVORO Outdoor</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_hospedaje.html">Hospedaje Restaurante y Viñedos</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO-medicina-premium.html">Sección Médica Premium</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="/KRNIVORO_transporte-ejecutivo.html">Transporte Ejecutivo</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 footer-links">
                    <h4>Nuestros Socios</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://cymdemx.com.mx/">CyM de MX Tijuana</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="https://manzinird.com/">Manzini Racing Development</a></li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="copyright">
        <div class="container text-center">
            <p> 2025 <span> © </span> <strong class="px-1 sitename">Krnivoro</strong> <span>Todos los derechos reservados</span></p>
            <div class="credits">
                Desarrollado por <a href="https://rosaritocentro.com/">RosaritoCentro.com</a>
            </div>
        </div>
    </div>

</footer>
<!-- Scroll Top -->
<a href="#" id="scroll-top" class="scroll-top d-flex align-items-center justify-content-center"><i
        class="bi bi-arrow-up-short"></i></a>
<!-- Preloader -->
<!-- <div id="preloader"></div> -->
<!-- Vendor JS Files -->
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/imagesloaded/imagesloaded.pkgd.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<!-- Main JS File -->
<script src="/assets/js/main.js"></script>
