<header id="header" class="header d-flex align-items-center fixed-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center justify-content-between">

        <a href="/index.html" class="logo d-flex align-items-center me-auto me-lg-0">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <img src="/assets/img/knivoro.png" alt="">
            <!-- <h1 class="sitename">Krnivoro</h1> -->
            <span>.</span>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="/#hero" class="active">Inicio<br></a></li>
                <li><a href="/conocenos.html">Conócenos</a></li>
                <li class="dropdown"><a href="#"><span>Servicios</span> <i
                    class="bi bi-chevron-down toggle-dropdown"></i></a>
                    <ul>
                        <!-- <li><a href="#">Lifestyle & Out Dor</a></li>
                        <li><a href="#">Salud, Bienestar & Medicina Premium</a></li>
                        <li><a href="#">Transporte Ejecutivo & Seguridad Privada</a></li> -->
                        <li><a href="/doing-business-at-KRNIVORO.html">Doing Business at KRNIVORO</a></li>
                        <li><a href="/KRNIVORO_sos.html">KRNIVORO SOS</a></li>
                        <li><a href="/KRNIVORO_legal_protection.html">KRNIVORO Legal Protection</a></li>
                        <li><a href="/KRNIVORE-dental-bernal.html">KRNIVORO Dental Bernal & Maxilofacial Excellence</a></li>
                        <li><a href="/KRNIVORO_store.html">KRNIVORO Store – Select Cuts & Premium Nutrition</a></li>
                        <li><a href="/KRNIVORO_outdoor.html">KRNIVORO Outdoor</a></li>
                        <li><a href="/KRNIVORO_hospedaje.html">Hospedaje, Restaurante & Viñedos</a></li>
                    </ul>
                </li>
                <li><a href="/contacto.html">Contacto</a></li>
                <li><a href="/directorio.html">Directorio</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>

        <a class="btn-getstarted" href="/contacto.html">Contacto</a>

    </div>
</header>