<!-- Hero Section -->
    <section id="hero" class="hero section dark-background" style="position:relative;overflow:hidden;">

      <div id="particles-js" style="position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;pointer-events:none;"></div>

      <img src="assets/img/krnivoro/background/fondower-1.webp" alt="" data-aos="fade-in">

      <div class="container">

        <div class="row justify-content-center text-center" data-aos="fade-up" data-aos-delay="100">
          <div class="col-xl-6 col-lg-8">
            <h2>BIENVENIDOS A <span>KRNIVORO.COM</span></h2>
            <p>Donde las Mentes Brillantes se Encuentran</p>
          </div>
        </div>

        <div class="row gy-4 mt-5 justify-content-center" data-aos="fade-up" data-aos-delay="200">
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="300">
            <div class="icon-box">
              <i class="bi bi-people"></i>
              <h3><a href="">Networking de Alto Nivel</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="400">
            <div class="icon-box">
              <i class="bi bi-cup-straw"></i>
              <h3><a href="">Selección Gourmet Exclusiva</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="500">
            <div class="icon-box">
              <i class="bi bi-shield-check"></i>
              <h3><a href="">Hospitalidad de Lujo y Seguridad Ejecutiva</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="600">
            <div class="icon-box">
              <i class="bi bi-stars"></i>
              <h3><a href="">Actividades que Dejan Huella</a></h3>
            </div>
          </div>
          <div class="col-xl-2 col-md-4" data-aos="fade-up" data-aos-delay="700">
            <div class="icon-box">
              <i class="bi bi-globe2"></i>
              <h3><a href="">Descubre el Mundo Krnivoro</a></h3>
            </div>
          </div>
        </div>

      </div>

    </section><!-- /Hero Section -->
