<section id="services" class="services section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Servicios Krnivoro</h2>
        <p>Consulta nuestros Servicios</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">

            {% for servicio in site.servicios %}
            <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="{{ forloop.index0 | times: 100 | plus: 100 }}">
                <div class="service-item position-relative">
                    <div class="icon">
                        <i class="bi {{ servicio.icono }}"></i>
                    </div>
                    <a href="{{ servicio.url }}" class="stretched-link">
                        <h3>{{ servicio.title }}</h3>
                    </a>
                    {% if servicio.descripcion %}
                    <p>{{ servicio.descripcion }}</p>
                    {% endif %}
                </div>
            </div><!-- End Service Item -->
            {% endfor %}

        </div>

    </div>

</section>