
<section id="portfolio" class="portfolio section">

    <div class="container section-title" data-aos="fade-up">
        <h2>Descubre nuestros...</h2>
        <p>Socios Comerciales</p>
    </div>

    <div class="container">

        <div class="isotope-layout" data-default-filter="*" data-layout="masonry" data-sort="original-order">

            <ul class="portfolio-filters isotope-filters" data-aos="fade-up" data-aos-delay="100">
                <li data-filter="*" class="filter-active">Todos</li>
                <!--li data-filter=".filter-bebidas">Bebidas</li>
                <li data-filter=".filter-carbohidratos">Carbohidratos</li>
                <li data-filter=".filter-carnes">Carnes</li>
                <li data-filter=".filter-condimentos">Condimentos</li>
                <li data-filter=".filter-frutos">Frutos</li>
                <li data-filter=".filter-quesos">Quesos</li-->
            </ul>

            <div class="row gy-4 isotope-container" data-aos="fade-up" data-aos-delay="200">
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    <img src="assets/img/krnivoro/logos/atlas-logistic.jpg.webp" class="img-fluid" alt="Atlas Logistic"><h3 style="text-align: center; color: #A87B05;"></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/big-data.jpg.webp" class="img-fluid" alt="Big Data"><h3 style="text-align: center; color: #A87B05;"></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                  
                    <img src="assets/img/krnivoro/logos/CarniceriaLosCuates.jpg.webp" class="img-fluid" alt="Carniceria los Cuates"><h3 style="text-align: center; color: #A87B05;"></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">

                    <img src="assets/img/krnivoro/logos/chef-ejecutivo-marco-banchetto.jpg.webp" class="img-fluid" alt="Chef Ejecutivo"><h3 style="text-align: center; color: #A87B05;"></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/contables-esrg.jpg.webp" class="img-fluid" alt="Contables ESRG"><h3 style="text-align: center; color: #A87B05;"></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/crazy-pigs.jpg.webp" class="img-fluid" alt="Crazy Pigs"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/cym.jpg.webp" class="img-fluid" alt="CYM"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/dental-bernal.jpg.webp" class="img-fluid" alt="Dental Bernal"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/despacho-fiscal-kh.jpg.webp" class="img-fluid" alt="Despacho Fiscal"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/doing-bussiness-at-krnivoro.jpg.webp" class="img-fluid" alt="Doing Bussiness"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/dr-javier-manzo.jpg.webp" class="img-fluid" alt="Doctor Javier Manzano"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/executive-transport-service-krnivoro.jpg.webp" class="img-fluid" alt="Executive Transport"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                 <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/express-logistic.jpg.webp" class="img-fluid" alt="Express Logistic"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/hotel-lucerna.jpg.webp" class="img-fluid" alt="Hotel Lucerna"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/icono-mx.jpg.webp" class="img-fluid" alt="Icono MX"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/icono-usa.jpg.webp" class="img-fluid" alt="Icono USA"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/lcc.jpg.webp" class="img-fluid" alt="LCC"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/leader-trade-solutions.jpg.webp" class="img-fluid" alt="Leader Trade Solutions"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/manzini-mrd.jpg.webp" class="img-fluid" alt="Manzini"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/marco-banchetto-eventplanner.jpg.webp" class="img-fluid" alt="Marco Banchetto"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/mt-capital.jpg.webp" class="img-fluid" alt="Mt Capital"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/premium-beef.jpg.webp" class="img-fluid" alt="Premium Beef"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/regenarative-medicine.jpg.webp" class="img-fluid" alt="Regenarative Medicine"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                <div class="col-lg-2 col-md-4 portfolio-item isotope-item">
                    
                    <img src="assets/img/krnivoro/logos/turkey-projects.jpg.webp" class="img-fluid" alt="Turkey Projects"><h3 style="text-align: center; color: #A87B05;" ></h3>
                </div>
                
            </div>

        </div>

    </div>

</section>