<section id="testimonials" class="testimonials section dark-background">
    <img src="assets/img/testimonials-bg.jpg" class="testimonials-bg" alt="">
    <div class="container" data-aos="fade-up" data-aos-delay="100">
        <div class="swiper init-swiper">
            <script type="application/json" class="swiper-config">
                {
                    "loop": true,
                    "speed": 600,
                    "autoplay": {
                        "delay": 4000
                    },
                    "slidesPerView": 1,
                    "pagination": {
                        "el": ".swiper-pagination",
                        "type": "bullets",
                        "clickable": true
                    }
                }
            </script>
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img src="/assets/img/krnivoro/krnivoro-gif.gif" class="img-fluid rounded shadow" alt="Cabaña de Cacería Krnivoro">
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
